<div id="<%= dom_id google_form %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Course:</strong>
    <%= google_form.course_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Url:</strong>
    <%= google_form.url %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= google_form.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= google_form.description %>
  </div>
</div>
