<div id="<%= dom_id google_sheet %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Course:</strong>
    <%= google_sheet.course_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Url:</strong>
    <%= google_sheet.url %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= google_sheet.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= google_sheet.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Attrs:</strong>
    <%= google_sheet.attrs %>
  </div>
</div>
