<div id="<%= dom_id google_sheet %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Course:</strong>
    <%= link_to google_sheet.course.name, google_sheet.course %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Url:</strong>
    <%= link_to google_sheet.url, google_sheet.url, target: "_blank" %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= google_sheet.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= google_sheet.description %>
  </div>
</div>
