<div id="<%= dom_id course %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= course.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Year:</strong>
    <%= course.year %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Season:</strong>
    <%= course.season %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= course.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Attrs:</strong>
    <%= course.attrs %>
  </div>
</div>
